// В этом файле должны быть стили для БЭМ-блока steps, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.steps {
	counter-increment: step;
	@media (min-width: $screen-sm) {
		min-height: 100vh;
	}
	@media (min-width: $screen-md) {
		height: 100vh;
	}
	@media (min-width: $screen-lg) {
		height: 100vh;
	}
	&_even &__item {
		@media (min-width: $screen-md) {
			flex-direction: row-reverse;
		}	
	}
	&__inner {
		align-items: center;
		justify-content: center;
		height: 100%;
		padding: 64px 0;
		@media (min-width: $screen-sm) {
			padding: 80px 0;
		}
		@media (min-width: $screen-md) {
			padding: 96px 0;
		}
		@media (min-width: $screen-lg) {
			padding: 160px 0;
		}
	}
	&__item {
		align-items: center;
		display: flex;
		flex-direction: column-reverse;
		@media (min-width: $screen-md) {
			align-items: center;
			flex-direction: row;
			height: calc(100vh - 192px);
		}
		@media (min-width: $screen-lg) {
			align-items: center;
			justify-content: center;
			height: calc(100vh - 320px);
		}
		@media (min-width: $screen-xxl) {
			flex-direction: row;
		}
	}
	&__col {
		align-items: center;
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin-top: -80px;
		padding: 0;
		position: relative;
		z-index: 2;
		@media (min-width: $screen-sm) {
			flex-direction: row;
			height: 100%;
			justify-content: flex-start;
			margin: 0;
		}
		@media (min-width: $screen-xxl) {
			padding: 0 0 0 150px;
			width: 782px;
		}
	}
	&__img {
		align-items: flex-end;
		display: flex;
		flex: 0 0 auto;
		flex-direction: row;
		justify-content: center;
		position: relative;
		width: auto;
		z-index: 1;
		@media (min-width: $screen-sm) {
			align-items: center;
			height: 560px;
			overflow: hidden;
		}
		@media (min-width: $screen-md) {
			height: auto;
			margin: 0 0 0 56px;
			width: 368px;
		}
		@media (min-width: $screen-lg) {
			width: 352px;
		}
		@media (min-width: $screen-xl) {
			width: 416px;
		}
		@media (min-width: $screen-xxl) {
			margin: 0 0 0 114px;
			width: 566px;
		}
		&::after {
			height: 200px;
			bottom: 0;
			content: '';
			position: absolute;
			left: 0;
			width: 100%;
			z-index: 2;
			background: linear-gradient(180deg, rgba(#0b1d26, 0) 0%, var(--body-bg) 100%);
			@media (min-width: $screen-md) {
				content: none;
			}
		}
		img {
			display: block;
			height: auto;
			width: 100vw;
			@media (min-width: $screen-md) {
				width: 100%;
			}
		}
	}
	&_even &__item &__img {
		@media (min-width: $screen-md) {
			margin: 0 56px 0 0;
		}
	}
	&__content {
		display: grid;
		grid-gap: 27px;
		&::before {
			@include digit;
			content: '0'counter(step);
			position: absolute;
		}
	}
	&__subtitle {
		@include subtitle;
	}
	&__title {
		@include title;
	}
	&__descr {
		@include descr;
	}
	&__link {
		@include readmore;
		align-items: center;
		color: var(--accent-color);
		display: flex;
		max-width: 135px;
		opacity: 1;
		transition: opacity .125s ease;
		&:hover {
			opacity: .8;
			.steps__arrow {
				transform: translateX(8px);
			}
		}
	}
	&__arrow {
		display: block;
		fill: var(--accent-color);
		height: 10px;
		margin: 0 0 0 16px;
		transition: transform .125s ease;
		width: 15px;
		@media (min-width: $screen-sm) {
			height: 15px;
			width: 21px;
		}
		@media (min-width: $screen-xxl) {
			height: 16px;
			width: 24px;
		}
	}
}
