//- Все примеси в этом файле должны начинаться c имени блока (steps)

mixin steps-item(vars)
	each item in vars.item ? vars.item : []
		.steps__item
			.steps__col
				.steps__content
					.steps__subtitle!= item.subtitle
					h2.steps__title!= item.title
					p.steps__descr!= item.descr
					a.steps__link(href='#') read more
						svg.steps__arrow
							use(xlink:href='img/svgSprite.svg#icon__arrow')
			each item in vars.item ? vars.item : []
				img.steps__img(src='/img/img__steps_' + item.num + '.jpg' srcset='/img/img__steps_' + item.num + '.jpg 566w, ' + '/img/img__steps-mob_' + item.num + '.jpg 375w' sizes='(min-width: 320px) 375px, (min-width: 1920px) 566px')