// В этом файле должны быть стили для БЭМ-блока steps, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.steps {
	counter-increment: step;
	@media (min-width: $screen-xl) {
		height: 100vh;
		min-height: 920px;
	}
	&__item {
		align-items: center;
		display: flex;
		flex-direction: column-reverse;
		@media (min-width: $screen-sm) {
			flex-direction: row-reverse;
			gap: 32px;
			align-items: flex-end;
		}
		@media (min-width: $screen-md) {
			margin: 0 auto;
			gap: 56px;
		}
		@media (min-width: $screen-lg) {
			align-items: center;
			justify-content: center;
		}
		@media (min-width: $screen-xl) {
			flex-direction: row;
			gap: 114px;
		}
	}
	&_even &__item {
		flex-direction: column-reverse;
		@media (min-width: $screen-sm) {
			flex-direction: row;
		}
		@media (min-width: $screen-xl) {
			flex-direction: row-reverse;
		}
	}
	
	&__inner {
		align-items: center;
		justify-content: center;
		padding: 88px 0 16px;
		@media (min-width: $screen-md) {
			padding: 132px 0 68px;
		}
		@media (min-width: $screen-md) {
			padding: 152px 0 48px;
		}
	}
	&__img {
		display: block;
		width: 100vw;
		@media (min-width: $screen-sm) {
			width: 264px;
			object-fit: cover;
			height: 400px;
		}
		@media (min-width: $screen-md) {
			width: 300px;
		}
		@media (min-width: $screen-xl) {
			height: auto;
			width: 566px;
		}
	}
	&__col {
		align-items: center;
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding: 0;
		@media (min-width: $screen-sm) {
			//width: 536px;
			flex-direction: row;
			height: 100%;
			justify-content: flex-start;
		}
		@media (min-width: $screen-md) {
			//width: 100%;
		}
		@media (min-width: $screen-xl) {
			padding: 0 0 0 150px;
			width: 782px;
		}
	}
	&__content {
		display: grid;
		grid-gap: 27px;
		&::before {
			@include digit;
			content: '0'counter(step);
			font-size: 80px;
			position: absolute;
			transform: translate(-4px, -33px);
			@media (min-width: $screen-sm) {
				font-size: 104px;
				transform: translate(-6px, -40px);
			}
			@media (min-width: $screen-xl) {
				transform: translate(-150px, -100px);	
				font-size: 240px;
			}
		}
	}
	&__title {
		@include title;
	}
	&__subtitle {
		@include subtitle;
	}
	&__descr {
		@include descr;
	}
	&__link {
		@include readmore;
		align-items: center;
		color: var(--accent-color);
		display: flex;
		max-width: 135px;
		opacity: 1;
		transition: opacity .125s ease;
		&:hover {
			opacity: .8;
			.steps__arrow {
				transform: translateX(8px);
			}
		}
	}
	&__arrow {
		display: block;
		fill: var(--accent-color);
		height: 10px;
		margin-left: 17px;
		transition: transform .125s ease;
		width: 15px;
		@media (min-width: $screen-sm) {
			height: 15px;
			width: 21px;
		}
		@media (min-width: $screen-xl) {
			height: 16px;
			width: 24px;
		}
	}
}
