// В этом файле должны быть стили для БЭМ-блока header, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.header {
	background: linear-gradient(to bottom, var(--body-bg) 0, rgba(#0b1d26, 0) 100%);
	display: block;
	height: 64px;
	position: fixed;
	width: 100%;
	z-index: 99;
	@media (min-width: $screen-md) {
		background: none;
		height: auto;
	}
	@media (min-width: $screen-xl) {
		display: block;
		position: fixed;
		width: 100%;
		z-index: 99;
	}
	&__inner {
		padding: 16px 0;
		@media (min-width: $screen-sm) {
			padding: 32px 0;
		}
		@media (min-width: $screen-md) {
			padding: 64px 0;
		}
	}
	&__row {
		align-items: center;
		display: flex;
		justify-content: space-between;
	}
	&__logo,
	&__account {
		width: 108px;
	}
	&__account {
		display: none;
		@media (min-width: $screen-md) {
			display: block;
		}
	}
	&__nav {
		display: none;
		@media (min-width: $screen-md) {
			display: block;
		}
	}
	&__item {
		text-decoration: none;
		transition: color .25s ease;
		color: var(--color-typography-inverse);
		margin-left: 40px;
		&:hover {
			color: var(--accent-color);
		}
	}
	&__menu {
		width: 32px;
		height: 32px;
		padding: 4px;
		cursor: pointer;
		@media (min-width: $screen-md) {
			display: none;
		}
	}
}
