// В этом файле должны быть стили для БЭМ-блока hero, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.hero {
	height: 100vh;
	position: relative;
	&__inner {
		align-items: center;
		display: flex;
		height: 100%;
		justify-content: center;
	}
	&__content {
		margin: 0 auto;
		width: calc(100% - 32px);
		@media (min-width: $screen-sm) {
			width: calc(100% - 88px);
		}
		@media (min-width: $screen-md) {
			width: calc(100% - 460px);
		}
		@media (min-width: $screen-lg) {
			width: calc(100% - 772px);
		}
		@media (min-width: $screen-lg) {
			max-width: 950px;
		}
	}
	&__bg {
		height: 100%;
		left: 0;
		overflow: hidden;
		position: absolute;
		top: 0;
		width: 100%;
		z-index: -1;
	}
	&__darker {
		background: linear-gradient(to top, var(--body-bg) 0, rgba(#0b1d26, 0) 100%);
		height: 64px;
		position: absolute;
		bottom: 0;
		left: 0;
		z-index: 2;
		width: 100%;
	}
	&__layer {
		height: 100%;
		position: absolute;
		width: 100vw;
		&_darker {
			background-size: cover;
			background: linear-gradient(to bottom, rgba(#0b1d26, 0) 0, var(--body-bg) 7%);
			height: 600%;
			top: 60%;
			z-index: 0;
		}
		&_front {
			background: url('/img/bg__hero_front.png') no-repeat left center;
			background-size: auto 200px;
			top: 40%;
			z-index: -1;
			@media (min-width: $screen-md) {
				top: 60%;
			}
			@media (min-width: $screen-lg) {
				background: url('/img/bg__hero_front.png') no-repeat center top;
				background-size: cover;
				top: 55%;
			}
			@media (min-width: $screen-lg) {
				top: 65%;
			}
		}
		&_middle {
			background: url('/img/bg__hero_middle.png') no-repeat center top;
			background-size: cover;
			top: 40%;
			z-index: -2;
			@media (min-width: $screen-xl) {
				top: 25%;
			}
		}
		&_back {
			background: url('/img/bg__hero_back.jpg') no-repeat center top;
			background-size: cover;
			z-index: -3;
		}
	}
	&__arrow {
		display: block;
		fill: var(--color-white);
		height: 10px;
		margin: 0 0 0 16px;
		position: relative;
		transform: rotate(90deg);
		width: 15px;
		@media (min-width: $screen-sm) {
			height: 15px;
			width: 21px;
		}
		@media (min-width: $screen-xxl) {
			height: 16px;
			width: 24px;
		}
	}
	&__link {
		@include readmore;
		align-items: center;
		color: var(--color-typography-inverse);
		display: flex;
		margin: 32px 0 0 0;
		max-width: 145px;
		transition: all .5s ease;
		&:hover {
			opacity: .7;
			.hero__arrow {
				animation: arrow 1.5s infinite ease;
			}
		}
	}
	&__subtitle {
		@include subtitle;
	}
	&__heading {
		@include heading;
		margin-top: 32px;
		text-transform: capitalize;
	}
}
@keyframes arrow {
	0% {
		top: 0px;
	}
	50% {
		top: 8px;
	}
	100% {
		top: 0px;
	}
}