// В этом файле должны быть стили для БЭМ-блока icon, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.icon {
	fill: var(--color-white);
	&__menu {
		height: 40px;
		width: 40px;
	}
	&__close {
		width: 48px;
		height: 40px;
	}
}
