// В этом файле должны быть стили для БЭМ-блока icon, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.icon {
	fill: var(--color-white);	
	height: 100%;
	width: 100%;
}
