// В этом файле должны быть стили для БЭМ-блока footer, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.footer {
	&__inner {
		padding: 120px 0;
	}
	&__logo {
		flex: 0 0 auto;
	}
	&__info {
		display: flex;
		flex-direction: column;
		height: 100%;
		justify-content: space-between;

	}
	&__text {
		margin: 24px 0 0 0;
		font-weight: 500;
		line-height: 32px;
		letter-spacing: -0.5px;
		flex: 1 1 auto;
	}
	&__copy {
		//margin: 132px 0 0 0;
		font-weight: 400;
		opacity: .5;
		line-height: 32px;
		letter-spacing: -0.5px;
		flex: 0 0 auto;
	}
}
