// В этом файле должны быть стили для БЭМ-блока nav, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.nav-steps {
	display: none;
	flex-direction: column;
	position: fixed;
	top: 50%;
	transform: translateY(-50%);
	z-index: 99;
	@media (min-width: $screen-md) {
		display: flex;
		right: calc((100vw - 936px) / 2);
	}
	@media (min-width: $screen-lg) {
		right: calc((100vw - 1136px) / 2);
	}
	@media (min-width: $screen-xl) {
		right: calc((100vw - 1328px) / 2);
	}
	@media (min-width: $screen-xxl) {
		right: calc((100vw - 1776px) / 2);
	}
	&__item {
		box-shadow: inset -3px 0 0 0 var(--color-white);
		color: var(--color-white);
		font-size: 16px;
		font-weight: 500;
		letter-spacing: -0.125px;
		line-height: 1.23;
		opacity: .5;
		padding: 16px 16px 16px 10px;
		text-align: right;
		text-decoration: none;
		transition: opacity .25s ease;
		@media (min-width: $screen-md) {
			font-size: 21px;
			padding: 16px 20px 16px 8px;
		}
		@media (min-width: $screen-lg) {
			font-size: 21px;
			padding: 19px 35px 19px 8px;
		}
		&:hover {
			opacity: 1;
		}
		&_active {
			opacity: 1;
			pointer-events: none;
		}
	}
}
