// В этом файле должны быть стили для БЭМ-блока side-nav-socials, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.side-nav-socials {
	&__row {
		align-items: center;
		display: flex;
	}
	&__title {
	}
	&__link {
		margin: 0 0 0 16px;
		transition: opacity .25s ease;
		&:hover {
			opacity: .5;
		}
	}
	&__icon {
		display: flex;
		fill: var(--color-white);
		height: 18px;
		justify-content: center;align-items: center;
		width: 18px;
	}
}

