// В этом файле должны быть стили для БЭМ-блока socials, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.socials {
	display: none;
	position: fixed;
	top: 50%;
	transform: translateY(-50%);
	z-index: 99;
	@media (min-width: $screen-md) {
		display: block;
		left: calc((100vw - 928px) / 2);
	}
	@media (min-width: $screen-lg) {
		left: calc((100vw - 1136px) / 2);
	}
	@media (min-width: $screen-xl) {
		left: calc((100vw - 1336px) / 2);
	}
	@media (min-width: $screen-xxl) {
		left: calc((100vw - 1784px) / 2);
	}
	&__col {
		align-items: center;
		display: flex;
		flex-direction: column;
	}
	&__title {
		font-size: 21px;
		user-select: none;
		writing-mode: vertical-lr;
	}
	&__link {
		margin: 24px 0 0 0;
		transition: opacity .25s ease;
		@media (min-width: $screen-xs) {
			margin: 16px 0 0 0;
		}
		&:hover {
			opacity: .5;
		}
	}
	&__icon {
		fill: var(--color-white);
		height: 24px;
		width: 24px;
	}
}
